bayblog_workflow_current.json
{
  "updatedAt": "2026-03-06T14:42:27.009Z",
  "createdAt": "2026-02-24T23:12:44.408Z",
  "id": "S7LQxpXYjT5ziTmd",
  "name": "BayBlog",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5c7459c0-cb2f-4839-94ea-14ed1da0bce9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "79970630-eb6e-440e-b00f-188546548aa0",
      "name": "Webhook",
      "webhookId": "5c7459c0-cb2f-4839-94ea-14ed1da0bce9"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json.body ?? item.json;\n\nif (!data || !data.countries) {\n  return [{ json: { error: \"Invalid payload: missing body or countries\" } }];\n}\n\nconst MIN_CONTENT_LENGTH = 100; // minimum chars to consider article usable\n\nconst results = [];\nfor (const c of data.countries) {\n  for (const trend of c.trends || []) {\n    const articles = trend.articles || [];\n    const articlesWithContent = articles.filter(\n      (a) => a.success === true && (a.content || \"\").trim().length >= MIN_CONTENT_LENGTH\n    );\n    const hasContent = articlesWithContent.length > 0;\n\n    results.push({\n      json: {\n        source: data.source,\n        timeframe: data.timeframe,\n        country: c.country,\n        geo: c.geo,\n        keyword: trend.keyword,\n        article_urls: trend.article_urls || [],\n        articles: trend.articles || [],\n        articles_with_content: articlesWithContent,\n        has_content: hasContent,\n        summary_for_ai: hasContent\n          ? articlesWithContent.map((a) => (a.title ? `${a.title}\\n` : \"\") + (a.content || \"\").slice(0, 3000)).join(\"\\n\\n---\\n\\n\")\n          : \"\",\n      },\n    });\n  }\n}\n\nreturn results.length ? results : [{ json: { error: \"No trends\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "32388b63-fbb3-4c9f-969f-38366b801b8a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9777b6c6-c2c2-459d-8fee-ed2ecd627e02",
              "leftValue": "={{ $json.has_content }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "9ce84a52-f439-46c7-b413-d421d15c220d",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "You are a blog writer. Write short, factual blog posts (4-6 paragraphs) based only on the provided context. Use clear headings if helpful. Output HTML suitable for a blog."
            },
            {
              "content": "=Write a blog post about this trending topic: \"{{ $json.keyword }}\" ({{ $json.country }}). Use only the following context; do not invent facts:\n\n{{ $json.summary_for_ai }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        656,
        -112
      ],
      "id": "244c922e-826f-4655-90a9-5ff8685c455c",
      "name": "Message a model",
      "retryOnFail": false,
      "credentials": {
        "openAiApi": {
          "id": "0j7RPv5BPrJqU21n",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-inference.huggingface.co/models/google/flan-t5-large",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "value": "=Authorization: Bearer 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 Content-Type: application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        -112
      ],
      "id": "a5e03bed-f14a-40c1-a1e7-69954796073a",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e46187bb-b5bf-43f8-8cf1-418b6e7ce474",
  "activeVersionId": null,
  "versionCounter": 43,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-24T23:12:44.408Z",
      "createdAt": "2026-02-24T23:12:44.408Z",
      "role": "workflow:owner",
      "workflowId": "S7LQxpXYjT5ziTmd",
      "projectId": "v0YMc9KDI2I4Hpz0",
      "project": {
        "updatedAt": "2026-02-23T09:54:04.758Z",
        "createdAt": "2026-02-23T09:52:38.711Z",
        "id": "v0YMc9KDI2I4Hpz0",
        "name": "Adekunle Bamitale <kilidnodbull@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "da370188-0ee9-4c7f-8d22-db14df5288f4"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}